    <div class="container-fluid d-flex">
      <div class="row">
        <div class="col-6 d-flex flex-column">
          <div class="card">
            <div class="card-header">Card Header</div>
            <div class="list-group list-group-flush scrolly">
              {{yield}}
            </div>
          </div>
        </div>
      </div>
  </div>
