<div class="d-flex">
  <div class="flex-row">
    <div class="col-md-6">
          {{#bills-display-box}}
            {{#each model as |template|}}
              {{bill-box template=template}}
            {{/each}}
          {{/bills-display-box}}
        </div>
          <div class="col-md-6">
        {{#bills-display-box}}
          {{#each model as |template|}}
            {{bill-box template=template}}
          {{/each}}
        {{/bills-display-box}}
        </div>
  </div>
</div>
